.topbar {
  .data-src {
    color: #bfbfbf;
    font-size: 11px;
    position: absolute;
    top: 3px;
    right: 18px;
    strong {
      font-weight: normal;
    }
    span {
      font-weight: 0;
    }
    a {
      color: #afafaf;
      &:hover {
        color: #bfbfbf;
      }
    }
  }
}